@{
    ViewBag.Title = "À propos";
}
<h2>@ViewBag.Title</h2>
<h3>Gestion de films et d'acteurs</h3>

<p>Ce site de gestion de films et d'acteurs représente un solutionnaire de travail pratique dans le cadre de développement d'application Web client serveur. Il existe simplement dans un but pédagogique et ne représente aucunement la réalité.</p>
